
.price {
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    color: #fc8507;
  }
  
  .price-old {
    margin-left: 5px;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #8c8c8c;
  }
  