.container {
  // width: 300px;
}

.truncate-container {
  width: 132px;
  height: 125px;
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
